.confirm{
    padding: 20px;
    color: #555;
    background: #fff;
    border-radius: 10px;

    button{
        font-size: 12px;
        text-transform: none;
        font-weight: normal;
        padding: 5px 10px;
    }
}