.todo-new{

    margin-top: 100px;

    .big-head{
        font-size: 25px;
        text-align: center;
    }
    .form-group{
        margin-bottom: 30px;
        
        input, textarea{
            font-size: 16px;
        }

        button{
            font-weight: normal;
        }
    }

    
}